/*
 * heyyy - Say hiii, say heyyy, say g'day!
 * ========================================
 *
 * ISC License
 *
 * Copyright (c) 2019, dragonwocky <thedragonring.bod@gmail.com> (https://dragonwocky.me/)
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 */

// @import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.heyyy {
  @warn: #d00;
  @primary: #b20000;
  @secondary: #088f08;
  @back: #fff;
  @contrast: contrast(@back);
  @grey: #818078;
  @image: '/lumber.jpg';
  @font: 'Raleway', sans-serif;

  @keyframes animista-shadow {
    0% {
      box-shadow: 0 0 @contrast, 0 0 @contrast, 0 0 @contrast, 0 0 @contrast,
        0 0 @contrast, 0 0 @contrast, 0 0 @contrast, 0 0 @contrast;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px @contrast, 2px 2px @contrast, 3px 3px @contrast,
        4px 4px @contrast, 5px 5px @contrast, 6px 6px @contrast,
        7px 7px @contrast, 8px 8px @contrast;
      transform: translateX(-4px) translateY(-4px);
    }
  }

  *,
  :before,
  :after {
    box-sizing: border-box;
    outline: none;
  }

  font-family: @font;
  background: linear-gradient(fade(@contrast, 50%), fade(@contrast, 50%)),
    url(@image) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  #container() {
    flex: 1;
    max-width: 50%;
    max-height: 90%;
    overflow: auto;
    @media (max-width: 768px) {
      max-width: 80%;
    }
    padding: 3em;
    text-align: center;
    background-color: @back;
    animation: animista-shadow cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }

  #interaction() {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    user-select: none;
    transition: 50ms;
    background: none;
    border: 1px solid @contrast;
    font: 1.5em @font;
    text-align: center;
    &:hover {
      box-shadow: 0 0 0.2px 1px @contrast;
    }
    &:focus,
    &:active {
      box-shadow: 0 0 0.2px 0.3px @contrast;
    }
  }

  #text() {
    padding: 0.25em;
    #interaction();
    &::placeholder {
      color: @grey;
    }
    &.warn {
      border-color: @warn;
      border-style: solid;
      &::placeholder {
        color: @warn;
      }
      &:focus {
        box-shadow: 0 0 0.2px 0.3px @warn;
      }
      &:hover {
        box-shadow: 0 0 0.2px 1px @warn;
      }
    }
  }

  button {
    padding: 0.5em;
    @media (max-width: 864px) {
      padding: 0.25em;
    }
    #interaction();
    background: @primary;
    color: contrast(@primary);
    &:active {
      font-size: 1.4em;
    }
  }

  #columns() {
    @media (min-width: 865px) {
      display: grid;
      grid-gap: 0.5em;
      grid-auto-flow: column;
    }
    @media (max-width: 864px) {
      #rows();
      grid-gap: 0.75em;
    }
  }
  #rows() {
    display: grid;
    grid-gap: 0.5em;
  }

  .error {
    #container();
    p {
      margin: 1.5em;
      font-family: monospace;
    }
    a {
      color: @warn;
    }
  }

  .set {
    #container();
    animation-duration: 0.3s;

    h1 {
      margin: 0 auto 0.25em auto;
      img {
        width: 0.8em;
        height: 0.8em;
      }
    }

    .details {
      font-size: 0.8em;
      color: @grey;
      .userwarn,
      .roomwarn {
        color: @warn;
      }
    }

    .columns {
      #columns();
      @media (min-width: 865px) {
        grid-template-columns: 3fr 1fr;
      }
      @media (max-width: 864px) {
        grid-template-rows: 1fr 0.5fr;
      }
    }
    .rows {
      #rows();
    }

    label {
      user-select: none;
    }

    input {
      &[type='text'] {
        #text();
      }
      &[type='checkbox'] {
        position: absolute;
        opacity: 0;
        & + label {
          position: relative;
          user-select: none;
          cursor: pointer;
          padding: 0;
        }
        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          background: @grey;
        }
        &:hover + label:before {
          box-shadow: 0 0 0 3px fade(@grey, 20%);
        }
        &:checked + label:before {
          background: @secondary;
        }
        &:disabled + label {
          color: @grey;
          cursor: auto;
        }
        &:disabled + label:before {
          box-shadow: none;
          background: @grey;
        }
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 9px;
          background: contrast(@secondary);
          width: 2px;
          height: 2px;
          box-shadow: 1.9px 0 0 contrast(@secondary),
            2.8px 0 0 contrast(@secondary), 4px 0 0 contrast(@secondary),
            4px -1.9px 0 contrast(@secondary), 4px -2.8px 0 contrast(@secondary),
            4px -3.7px 0 contrast(@secondary), 4px -4.6px 0 contrast(@secondary),
            4px -5.5px 0 contrast(@secondary), 4px -6.4px 0 contrast(@secondary),
            4px -7.3px 0 contrast(@secondary), 4px -8px 0 contrast(@secondary);
          transform: rotate(45deg);
        }
      }
    }

    @media (min-width: 865px) {
      .checks {
        display: flex;
        justify-content: center;

        .check {
          width: 40%;
        }
      }
    }
    @media (max-width: 864px) {
      .check:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }

  .chat {
    #container();
    @media (max-width: 768px) {
      padding: 1.5em;
    }
    #rows();
    grid-template-rows: 15fr 1fr;

    .main {
      #columns();
      grid-template-columns: 4fr 1fr;

      .messages {
        text-align: left;
        font-family: Helvetica, sans-serif;

        .msg {
          margin: 0.5em 0;
          p {
            margin: 0.1em;
          }
          .title {
            .author {
              font-weight: bold;
            }
            .time {
              font-family: @font;
              font-size: 0.5em;
              position: relative;
              bottom: 0.25em;
              color: @grey;
            }
          }
        }
      }

      aside {
        #rows();
        grid-template-rows: 15fr 1fr;

        button {
          background-color: @warn;
        }
      }
    }

    .send {
      #columns();
      @media (min-width: 865px) {
        grid-template-columns: 4fr 1fr;
      }

      textarea {
        #text();
        text-align: left;
        resize: none;
        max-height: 20vh;
      }
    }
  }
}
